<section id="repertoire">
  <div class="borderDiv" id="divNewContact">
    <div class="flexJust">
      <h2>Ajouter un contact</h2>
      <a href="#addNewContact"><i class="fas fa-user-plus fa-2x iconGris"></i></a>
    </div>
    <div>
      <ul>
        <li><i class="fas fa-user iconGris"></i><a href="#">Joanna</a></li>
        <li><i class="fas fa-user iconGris"></i><a href="#">Ali</a></li>
        <li><i class="fas fa-user iconGris"></i><a href="#">Paul</a></li>
      </ul>
    </div>
  </div>
  <div class="borderDiv" id="showContact">
    <h2>Détails du contact:</h2>
    <div class="detailsContact">
      <p class="contactLab">Nom:</p>
      <p class="contactInfo">Lalvée</p>
      <div class="iContact">
        <a href="#"><i class="fas fa-pencil-alt iconGris"></i></a>
        <a href="#"><i class="fas fa-trash-alt iconGris"></i></a>
      </div>
    </div>
    <div class="detailsContact">
      <p class="contactLab">Prénom:</p>
      <p class="contactInfo">Joanna</p>
      <div class="iContact">
        <a href="#"><i class="fas fa-pencil-alt iconGris"></i></a>
        <a href="#"><i class="fas fa-trash-alt iconGris"></i></a>
      </div>
    </div>
    <div class="detailsContact">
      <p class="contactLab">Email:</p>
      <p class="contactInfo">joanna.lalvee@laposte.net</p>
      <div class="iContact">
        <a href="#"><i class="fas fa-pencil-alt iconGris"></i></a>
        <a href="#"><i class="fas fa-trash-alt iconGris"></i></a>
      </div>
    </div>
    <div class="detailsContact">
      <p class="contactLab">Téléphone:</p>
      <p class="contactInfo">06.17.24.45.74.</p>
      <div class="iContact">
        <a href="#"><i class="fas fa-pencil-alt iconGris"></i></a>
        <a href="#"><i class="fas fa-trash-alt iconGris"></i></a>
      </div>
    </div>
  </div>
</section>
