#imgAccueil{
  height: 32rem;
  width: 100%;
  background-image: url("/assets/img/accueil4.jpg");
}

#opacity{
  height: 100%;
  background-color: RGBA(255,255,255,0.1);
}

#navAccueil {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


#logo{
  color:white;
  background-color:#2c95d8;
  margin: 0.6rem;
  border: 2px solid white;
  padding: 0.2rem;
  border-radius: 10px;
  height: 85px;
}

i{
  margin: 8px 10px 0 10px;
}
p{
  margin: 0;
  font-size: 1.1rem;
}

#logAndCo{
  width: 35%;
}

.flexInline{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.lstNav{
  list-style-type: none;
}

.lstNav a {
  text-decoration: none;
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
  font-size: 1.2rem;
}

/*.lstNav a:hover{
  font-size: 1.4rem;
}*/

#first{
  padding-right: 3.4rem;
  border-right: 1px solid white;
}

#first, #second{
  padding-top: 0.5rem;
}

#last{
  border: 1px solid white;
  border-radius: 20px;
  padding: 8px 22px;
}

#last:hover{
  background-color:#2c95d8;
  border-color: #2c95d8;
}

h1{
  color: white;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 0.1em 0.1em 0.2em black;
}

h2{
  color: white;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 0.1em 0.1em 0.2em black;
}

#btnInscr{
  color:white;
  font-size: 1.3rem;
  text-decoration: none;
  border: 1px solid #2c95d8;
  background-color: #2c95d8;
  border-radius: 20px;
  padding: 8px 22px;
  margin-left: 45%;
}

#d1, #d3{
  padding-top: 2rem;
}

#centreBlc{
  width: 70%;
  margin: 0 auto;
  background-color: white;
  padding-bottom: 5rem;
}

.contenair{
  display: flex;
  flex-direction: row;
  margin-top: 8rem;
}

.contenairSpe{
  display: flex;
  flex-direction: row;
  padding-top:6rem;
}

.pair{
  flex-direction: row-reverse;
}

.text{
  width:50%;
  padding:0 30px 16px 30px;
}

h3{
  text-align: center;
}

.imgAccueil{
  padding: 0 16px;
}


