<div id="imgAccueil">
  <div id="opacity">
    <div id="navAccueil">
      <div id="logo">
        <i class="fas fa-users fa-3x"></i>
        <p>Agendtask<p>
      </div>
      <div id="logAndCo">
        <ul class="flexInline">
          <li class="lstNav" id="first"><a href="#">A propos</a></li>
          <li class="lstNav" id="second"><a href="#">Connexion</a></li>
          <li class="lstNav" id="last"><a href="form-inscrip">Créer un compte</a></li>
        </ul>
      </div>
    </div>
    <div id="d1">
      <h1>L'organisation à portée de clic</h1>
    </div>
    <div id="d2">
      <h2>Simple et pratique, AGENDTASK est l'assistant qu'il vous facilite la vie</h2>
    </div>
    <div id="d3">
      <a href="form-inscrip" id="btnInscr">Créer un compte</a>
    </div>
  </div>
</div>
<div id="centreBlc">
<section class="contenairSpe">
  <div class="text">
    <h3>Agendas partagés</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vulputate blandit placerat. Fusce non
      mattis enim. Nunc purus quam, posuere vel tristique vel, lacinia ac quam. </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vulputate blandit placerat. Fusce non
      mattis enim. </p>
  </div>
  <div class="imgAccueil">
    <img src="/assets/img/provisoire.png">
  </div>
</section>
<section class="contenair pair">
  <div class="text">
    <h3>Organisation d'évenements</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vulputate blandit placerat. Fusce non
      mattis enim. </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vulputate blandit placerat. Fusce non
      mattis enim. Nunc purus quam, posuere vel tristique vel, lacinia ac quam. </p>
  </div>
  <div class="imgAccueil">
    <img src="/assets/img/provisoire.png">
  </div>
</section>
<section class="contenair">
  <div class="text">
    <h3>Listes</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vulputate blandit placerat. Fusce non
      mattis enim. Nunc purus quam, posuere vel tristique vel, lacinia ac quam. </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vulputate blandit placerat. Fusce non
      mattis enim. </p>
  </div>
  <div class="imgAccueil">
    <img src="/assets/img/provisoire.png">
  </div>
</section>
<section class="contenair pair">
  <div class="text">
    <h3>Sondages</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vulputate blandit placerat. Fusce non
      mattis enim. </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vulputate blandit placerat. Fusce non
      mattis enim. Nunc purus quam, posuere vel tristique vel, lacinia ac quam. </p>
  </div>
  <div class="imgAccueil">
    <img src="/assets/img/provisoire.png">
  </div>
</section>
</div>

