<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active"><i class="far fa-calendar-check"></i>Agenda Principal</a></li>
    <li><a routerLink="/evenement" routerLinkActive="active"><i class="far fa-handshake"></i>Evenements</a></li>
    <li><a routerLink="/sondage" routerLinkActive="active"><i class="fas fa-poll-h"></i>Sondages</a></li>
    <li><a routerLink="/liste" routerLinkActive="active"><i class="fas fa-list-ul"></i>ToDoLists</a></li>
    <li><a routerLink="/repertoire" routerLinkActive="active"><i class="far fa-address-book"></i>Repertoire</a></li>
    <li class="noMarg"><hr/></li>
    <li><a routerLink="/parametre" routerLinkActive="active"><i class="fas fa-cog"></i>Parametres</a></li>
    <li><a href="#deconnexion"><i class="fas fa-power-off"></i>Déconnexion</a></li>
  </ul>
</nav>
<div id="deconnexion">
  <div class="popup_deco">
    <a class="close" href="home"><i class="far fa-times-circle fa-2x gris"></i></a>
    <h2>Déconnexion</h2>
    <div>
      <p>Etes-vous sûr de vouloir vous déconnecter ?</p>
      <div>
        <button>OUI</button>
        <button>NON</button>
      </div>
    </div>
  </div>
</div>
